* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	height: 100%;
	background: white;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/*----HEADER----*/

header {
	/*border: solid black 3px;*/
	height: 175px;
	width: 100%;
	position: sticky;
	top: 0;
	background: white;
	box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.8)
}

/*----NAV BAR----*/

section.nav-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50%;
	width: 45%;
	/*border: solid black 3px;*/
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;

}

.nav-button {
	width: 30%;
	height: 100%;
	border: solid black 3px;
	transition: all 0.2s
}

.nav-button:hover {
	background: grey;
}

/*----LOGIN PROMPT----*/

section.login {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30%;
	width: 20%;
	border: solid black 3px;
}

/*----LOGO----*/

section.logo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 60%;
	width: 45%;
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
	/*border: solid black 3px;*/
}

section.logo h1 {
	font-weight: 700;
}

.fas {
	font-size: 70px;
}

/*----END OF HEADER----*/
/*----TITLE TEXT----*/

h1 {
	/*font-size: 50px;*/
}

/*----CARD SET----*/

.cardset {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: solid black 3px;
}

/*----CARDS----*/

.ghost-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 450px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 0;
}

.card {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	/*border: solid grey 2px;*/
	padding: 0;
	/*background: white;*/
	opacity: 0.8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all .2s ease;
}

.card img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.ghost-card:hover > .card {
	box-shadow: 0 0px 0px 0;
	width: 95%;
	height: 95%;
	opacity: 1;
}

.card-image {
	width: 100%;
	height: 40%;
	position: relative;
}

.card-image img {
	width: 100%;
	height: 100%;
	border-radius: 10px 10px 0px 0px;
}

.flip-button {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 15px;
	border: solid white 1px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.card-counter {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 15px;
	border: solid white 1px;
	width: 70px;
	height: 70px;
}