* {
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	height: 100%;
	background: #95afb6;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/*----HEADER----*/

header {
	height: 175px;
	width: 100%;
	position: sticky;
	top: 0;
	background: #4d3c63;
	box-shadow: 0px 10px 50px 5px rgba(0, 0, 0, 0.8);
	z-index: 10;
}

/*----NAV BAR----*/

section.nav-bar {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50%;
	width: 45%;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;

}

.nav-button {
	width: 30%;
	height: 100%;
	border-radius: 15px;
	transition: all 0.2s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.nav-button3 {
	width: 35%;
}

.nav-button:hover {
	background: #5b5678;
}

.nav-button i,
.nav-button p {
	font-size: 20px;
	margin: 5px;
}

.nav-button p {
	color: #95afb6;
}

.nav-button i {
	color: #718f98
}

/*----LOGIN PROMPT----*/

section.login {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 30%;
	width: 200px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: all 0.2s ease;
	cursor: pointer;
}

section.login:hover {
	background: #5b5678;
}

.login i,
.login p {
	font-size: 15px;
	margin: 3px;
}

.login .fas {
	margin-right: 20px;
}

.login .fas,
.login p {
	color: #718f98;
}

.login .far {
	color: white;
}

/*----LOGO----*/

section.logo {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 60%;
	width: 45%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
	color: white;
}

section.logo h1 {
	font-weight: 700;
}

.logo h1 {
	font-size: 70px;
}

.logo i {
	font-size: 70px;
}

/*----END OF HEADER----*/
/*----TITLE TEXT----*/

.title {
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 50px;
	color: #5b5678;
}

/*----CARD SET----*/

.cardset {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

/*----CARDS----*/

.ghost-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 450px;
	margin-bottom: 20px;
	padding: 0;
}

.card {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 0;
	opacity: 0.8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all .2s ease;
	background: white;
}

.ghost-card:hover > .card {
	box-shadow: 0 0px 0px 0;
	width: 95%;
	height: 95%;
	opacity: 1;
}

.card-image {
	width: 100%;
	height: 40%;
	position: relative;
	border-radius: 10px 10px 0px 0px;
	background-image: url(media/cat1.jpg);
	background-position: center center;
	background-size: 100%;
}

.flip-button {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 15px;
	width: 70px;
	height: 70px;
	font-size: 50px;
	color: white;
	opacity: 0.8;
	transition: all .2s ease;
}

.flip-button:hover {
	opacity: 1;
}

.card-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 15px;
	width: 70px;
	height: 70px;
	color: white;
}

.card-counter p {
	margin: 0;
}

.card-counter .counter-amt {
	font-size: 30px;
	margin: 0;
}

.card-info {
	width: 100%;
	height: 60%;
	position: relative;
	bottom: 0px;
	padding: 15px;
}

.card-info p,
.card-info h5,
.card-info h6 {
	margin: 0;
	font-weight: 400;
}

.card-info h5 {
	font-size: 18px;
}

#card-date {
	color: #95afb6;
	font-size: 15px;
}

#card-link {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
	background: #95afb6;
	text-align: center;
	color: white;
	border-radius: 5px;
	transition: all .2s ease;
}

#card-link:hover {
	cursor: pointer;
	color: #676b7e;
}

.card-info h6 {
	margin-top: 15px;
}

#attachments {
	color: #718f98;
	font-size: 30px;
}

/*MEDIA QUERIES*/

/*MOBILE*/

@media screen and (max-width: 500px) {

	header {
		height: 250px;
		position: static;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	section.nav-bar {
		position: relative;
		width: 100%;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		order: 1

	}

	.nav-button {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-button3 {
		width: 100%;
	}

	.nav-button i,
	.nav-button p {
		font-size: 20px;
		margin: 5px;
	}

	section.login {
		position: static;
		height: 80px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		order: 0;
		margin-top: 30px;
	}

	.login i,
	.login p {
		font-size: 15px;
		margin: 3px;
	}

	.login .fas {
		margin-right: 0;
	}

	section.logo {
		position: static;
		height: 200px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 0;
		order: -1;
		margin-top: 15px;
	}

	.logo h1,
	.logo i {
		font-size: 90px;
	}


	
}